html, body
  margin 0
  padding 0
  
.sticky-container
  margin 1500px 0
  background-color red
  height 4000px
  width 100%
  .sticky-item
    width 100%
    background-color blue
    top 0px
    height 800px
